In [4]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")
#The def keyword, which is short for "define," and is used to create the function.
#The function name, say_hello(), is always written after def.
#There is a colon after the function name, which tells Python that a code block or statement will follow. 
#This is similar to conditional and repetition statements. All code within the function should be indented.
#The indented statement that follows is print("Hello!")

In [14]:
# Call the function.
say_hello()

Hello!

In [15]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [16]:
# Call the function.
say_something("Hello World")

Hello World

In [17]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [32]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [33]:
passing_math_count = 29370
total_student_count = 39170

In [34]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [35]:
#First, in functions.ipynb
#The map() function is used for substituting each value in a Series with another value. Where the new value is 
#generated from a function, a dictionary, or a Series. 
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [36]:
#Next, we'll import Pandas and convert the list to a Series
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [43]:
#Using the map() function we are going to change B to A, C to B, and D to C. To change each string value in this 
#Series to another value using the following format.
#map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)

# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [45]:
#The Python format() function is used to format a value to a specific format, such as one or two decimal places, or 
#adding a thousands separator. "{value:format specification}".format(value)

#The "value" within the curly braces represents the value that we want to format. Usually, the value in the 
#format(value) is a variable. After the colon, the format specification will designate how the value should be formatted.

#In this example, we are going to iterate through a list of grades and format each grade to the nearest whole number 
#percent. Copy the following code, add to a new cell in the functions.ipynb file, and run it.

# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [46]:
#We also apply the format() function to a Series or column in a DataFrame by chaining the map() and format() functions.

#First let's convert the numerical grades array to a Series with the following code:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [47]:
#Next, we can format the numerical grades to the nearest whole number percent as shown in the output after running 
#the following line of code:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

NameError: name 'district_summary_df' is not defined